Common/IGL.Common.Tests/obj/
Common/IGL.Common/bin/Debug/Newtonsoft.Json.xml
Common/IGL.Common/obj/
Common/packages/
Common/IGL.Common.Tests/bin/
Common/IGL.Common.Tests/FakesAssemblies/System.Configuration.4.0.0.0.Fakes.xml
Common/IGL.Common.Tests/FakesAssemblies/
