<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="gamePacketConfigurationGroup">
      <section name="gamePacketConfiguration" type="IGL.GamePacketConfigurationSection, IGL.Common"/>
    </sectionGroup>
  </configSections>

  <gamePacketConfigurationGroup>
    <gamePacketConfiguration playerId="joeTester" gameId="100">
      <serializationConfiguration isJsonEnabled="true" />
      <encryptionConfiguration enabled="true" salt="testing" />
      <backboneConfiguration serviceNamespace="xxxx" issuerName="testing" issuerSecret="asdf" />
    </gamePacketConfiguration>
  </gamePacketConfigurationGroup>
  
  <appSettings>    
  </appSettings>

</configuration>