<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- define DO_NOT_FAKE as a conditional compilation symbol to use app.config to test without Fakes -->
    <add key="IGL.EncryptionSalt" value="o6806642kbM7c6" />
    <add key="AzureStorageConnectionString" value="" />
    <add key="AzureServiceBusConnectionString" value="" />
  </appSettings>
</configuration>